/* RESET  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
}

.container {
    flex-grow: 1;
    background-color: aliceblue;
    margin: .5rem;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1rem .5rem;
}
@media screen and (min-width: 500px) {
    .form {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "label input"
        "label input"
        "label input"
        "button button";
        margin: 1rem 3rem;
    }
}
label {
    display: block;
    margin: .5rem 0;
    font-weight: 700;
    justify-self: flex-start;
}
input {
    border: none;
    border-bottom: 2px solid darkcyan;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: .5rem 0;
    text-align: center;
}
button {
    grid-area: button;
    padding: .5rem 1rem;
    margin: 1rem auto 0;
    border-radius: 1rem;
    border: none;
    width: 100%;
    max-width: 300px;
    background-color: darkcyan;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.password {
    color: darkcyan;
}

#serius-generator {
    opacity: 0;
    margin: 1rem .5rem;
    transition: 1s;
    padding: 1rem;
    background-color: white;
    border-radius: 2rem;
}
#serius-advice {
    margin: 1rem 0;
    opacity: 0;
    transition: 1s;
}
#serius-generator.show, 
#serius-advice.show {
    opacity: 1;
}

